<div><h1 class="a2">Welkom</h1></div>
<div *ngIf="flagPhoto" class="a1">
<div *ngFor="let item of myphoto" >
  <img  style="padding:30px" (click)="onChange(item.id)" src={{item.url}}>
</div>
</div>


<div *ngIf="!flagPhoto">
  <div >
    <img (click)="flagPhoto = !flagPhoto" src={{onephoto.url}} class="a3">
  </div>
  <div>
    <div *ngFor="let item of comment" class="comment">
      {{item.text}}
  </div>
  <div>
     {{newcoment}}
  </div>
  <form [formGroup] = "form" (ngSubmit)="onSubmit(form)">
    <div> 
        <input type="text" required formControlName ="text">
    </div>
     <input  type="submit" [disabled]="form.invalid" >
       
        
        
   
 </form>
  </div>