<div><h1 class="a2">Welcome</h1></div>
<div *ngIf="flagPhoto" class="a1">
<div *ngFor="let item of myphoto" >
  <img  style="padding:30px" (click)="onChange(item.id)" src={{item.url}}>
</div>
</div>


<div *ngIf="!flagPhoto">
  <div >
    <img (click)="flagPhoto = !flagPhoto" src={{onephoto.url}} class="a3">
  </div>
  <div>
    <div *ngFor="let item of comment" class="comment">
      {{item.text}}
      <ul>{{comment}}</ul>
      <div (click)="onDelete(item.id)" calss="svg" ><h6 ><svg   xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor" class="svg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg></h6></div>
  </div>
  <div>
  </div>
  <form [formGroup] = "form" (ngSubmit)="onSubmit(form)">
    <div> 
        <input type="text" required formControlName ="text">
    </div>
     <input  type="submit" [disabled]="form.invalid" >
       
        
        
   
 </form>
  </div>